:root {
    --azul: #00c2cb;
    --laranja: #ff8331;
    --branco: #fff;
    --preto: #000;
    --sombra: #999;
    --texto1: #666;
    --texto2: #444;
    --translucido: rgba(153, 153, 153, 0.548);
}

* {
    margin: 0;
    padding: 0;
    text-align: justify;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    width: 100%;
    background-color: #f0f0f0;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


/* NAVEGAÇÃO */

.navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: 0.5rem;
}

.logo {
    width: 180px;
    cursor: pointer;
    display: block;
    padding: 5px;
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.navbar ul li a {
    text-decoration: none;
    color: var(--preto);
    text-transform: uppercase;
}

.navbar ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background: var(--azul);
    display: block;
    margin: auto;
    transition: 0.3s;
}

.navbar ul li:hover::after {
    width: 100%;
    transition: 0.5s;
}


/* CAMPO DE PESQUISA */

.caixa-search {
    position: absolute;
    left: 52%;
    transform: translate(-100%, -50%);
    background-color: transparent;
    height: 40px;
    border-radius: 40px;
    padding: 20px 0 0 100px;
}

.caixa-search:hover>.caixa-texto {
    width: 150px;
    padding: 0 3px;
    color: var(--translucido);
}

.caixa-search:hover>.botao-search {
    background-color: var(--azul);
    margin-left: 3px;
}

.botao-search {
    color: var(--laranja);
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    height: 24px;
    width: 24px;
    background-color: transparent;
    display: flex;
    justify-content: center;
    text-decoration: none;
    align-items: center;
    transition: 0.4s;
}

.caixa-texto {
    border: none;
    background-color: transparent;
    outline: none;
    float: left;
    padding: 0;
    height: 24px;
    color: var(--preto);
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    width: 0px;
    cursor: pointer;
}

input::placeholder {
    color: var(--sombra);
    font-size: 16px;
}


/* texto inicial */

.container3 .content {
    width: 100%;
    position: absolute;
    top: 45%;
    transform: translateY(-50%);
    color: var(--texto1);
}

.container3 .content h1 {
    font-size: 50px;
    margin-top: 80px;
}

.container3 .content p {
    font-size: 20px auto;
    font-weight: 200;
    text-align: center;
    line-height: 25px;
}


/* Botão de registro */

.botoes {
    text-align: center;
}

.button1 {
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid var(--laranja);
    background: transparent;
    color: var(--azul);
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.button1::after {
    content: '';
    width: 0%;
    height: 2px;
    background: var(--azul);
    display: block;
    margin: auto;
}

.button1:hover::after {
    width: 57%;
    transition: 0.3s;
    border: none;
}


/* Botão sem registro */

.button2 {
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid var(--laranja);
    background: transparent;
    color: var(--azul);
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.button2::after {
    content: '';
    width: 0%;
    height: 2px;
    background: var(--azul);
    display: block;
    margin: auto;
}

.button2:hover::after {
    width: 72%;
    transition: 0.3s;
    border: none;
}


/* INDEX */


/* SECTION INDEX */

.manchete {
    display: block;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7));
}

.linha {
    display: flex;
    margin: 0 -8px;
    align-items: center;
    justify-content: space-between;
}

.coluna {
    margin: 0 12px;
    float: left;
    padding: 80px;
}

#title-h2 {
    color: white;
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.coluna-2 {
    font-size: 18px;
    color: var(--azul);
    height: 100%;
    float: right;
    margin: 8vh;
    display: flex;
    flex-direction: column;
}

.button {
    border: none;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 0px 2px;
    -webkit-transition-duration: 0.4s;
    /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 20px 20px 0 0;
    background-color: white;
    color: black;
    border: 2px solid #008CBA;
}

.button:hover {
    background-color: #008CBA;
    color: white;
}

.button-1 {
    border: none;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 0.5px 2px;
    -webkit-transition-duration: 0.4s;
    /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: white;
    color: black;
    border: 2px solid #008CBA;
}

.button-1:hover {
    background-color: #008CBA;
    color: white;
}

.button-2 {
    border: none;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 0.5px 2px;
    -webkit-transition-duration: 0.4s;
    /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 0 0 20px 20px;
    background-color: white;
    color: black;
    border: 2px solid #008CBA;
}

.button-2:hover {
    background-color: #008CBA;
    color: white;
}


/* bootstrap */

.card-body {
    text-align: center;
}

#team-area h3 {
    text-align: center;
}


/* CONTAINER */

.container {
    background: rgba(255, 255, 255, 0.815);
    border-radius: .5rem;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
    margin-bottom: 30px;
    padding: 40px;
}

.container h1 {
    font-size: 40px;
    text-align: center;
    margin-bottom: 20px;
}

.learnmore {
    display: inline-block;
    padding: .8rem 3rem;
    border-radius: .5rem;
    background: var(--azul);
    color: #fff;
    cursor: pointer;
    font-size: 1.5rem;
}

.learnmore:hover {
    background: var(--laranja);
    color: var(--branco);
}


/* CURSOS */

.main-title {
    color: transparent;
    background: var(--azul);
    -webkit-background-clip: text;
    background-clip: text;
    padding: 0 1rem;
    padding-top: 2.5rem;
    text-align: center;
    font-size: 2rem;
    text-transform: uppercase;
}

.course {
    display: flex;
    flex-wrap: wrap;
    height: 80%;
}

.course .box {
    flex: 1 20rem;
    border-radius: .5rem;
    border: .1rem solid rgba(255, 136, 24, 0.1);
    padding: 1rem;
    position: relative;
}

.course .box img {
    height: 15rem;
    width: 100%;
    border-radius: 10px;
}

.course .box .amount {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 1rem;
    padding: .5rem 1rem;
    background: var(--azul);
    color: #fff;
    border-radius: .5rem;
}

.course .box .stars i {
    color: var(--laranja);
    font-size: 1.5rem;
    padding: 1rem 0;
}

.course .box h3 {
    color: var(--azul);
    font-size: 1.5rem;
}

.course .box p {
    color: var(--texto1);
    font-size: 1rem;
    padding: .4rem 0;
}

.course {
    display: flex;
    padding: .5rem;
    padding-top: 1rem;
}

.course .icons1 {
    display: flex;
    padding-top: 20px;
    justify-content: space-between;
    align-items: baseline;
}

.course .icons1 p {
    color: var(--azul);
    font-size: 1rem;
    list-style: none;
}

.course .icons1 p i {
    padding-right: .1.5rem;
    color: var(--azul);
}


/* bootstrap */

.row {
    margin: 0;
    margin-right: 20px;
}

.project-box {
    margin-bottom: 30px;
}

#filter-btn-box {
    margin-bottom: 50px;
    text-align: center;
}

#portfolio-area .filter-btn {
    color: var(--texto2);
    border: 2px solid var(--laranja);
    border-radius: 25px;
    text-align: center;
    background-color: transparent;
    text-transform: none;
    margin: 0 10px;
    min-width: 100px;
    width: auto;
    height: 40px;
    line-height: 40px;
    padding: 0 10px;
}

#portfolio-area .filter-btn.active,
#portfolio-area .filter-btn:hover {
    color: #FFF;
    border: 1px solid var(--azul);
    background-color: var(--azul);
    transition: 0.5s;
}


/* DIVULGAÇÃO */

.empreendedores {
    display: flex;
    flex-wrap: wrap;
}

h1 {
    text-align: center;
    color: var(--azul);
}

.caixa {
    flex: 1 1 20rem;
    border: .2rem solid rgba(0, 0, 0, .1);
    border-radius: .5rem;
    padding: 1.5rem;
    text-align: center;
    margin: .2rem;
}

.caixa img {
    height: 10rem;
    width: 10rem;
    margin: .5rem 0;
    border-radius: 50%;
    object-fit: cover;
}

.empreendedores .caixa h3 {
    color: var(--azul);
    font-size: 30px;
    text-align: center;
}

.empreendedores .caixa {
    flex: 1 1 23rem;
    border: .1rem solid rgba(0, 0, 0, .1);
    border-radius: .5rem;
    padding: 1.5rem;
    text-align: center;
}

.empreendedores .caixa img {
    height: 10rem;
    width: 10rem;
    margin: .5rem 0;
    border-radius: 50%;
    object-fit: cover;
}

.empreendedores .caixa span {
    color: var(--laranja);
    font-size: 30px;
}

.empreendedores .caixa p {
    color: var(--texto1);
    font-size: 14px;
    padding: 1rem 0;
    padding-bottom: 20px;
    margin: 1rem;
}

.empreendedores .caixa .redes {
    text-align: center;
    font-size: 30px;
}

.empreendedores .caixa .redes a {
    color: var(--laranja);
    margin: 5px;
    cursor: pointer;
}

.empreendedores .caixa .redes a:hover {
    color: var(--azul);
}

.caixa .avaliacao {
    text-align: center;
    justify-content: space-around;
}

.caixa .avaliacao i {
    font-size: 25px;
    color: var(--azul);
    padding-bottom: 20px;
}


/* SOBRE NÓS */

.divu {
    display: flex;
    margin: 2rem;
}

.divu h1 {
    font-size: 30px;
}

.divu p {
    font-size: 14px;
    color: var(--texto1);
}


/* bootstrap */

.service-box {
    text-align: center;
    margin: 0rem;
    margin-bottom: 50px;
    margin-top: 50px;
    margin-left: 0;
}

.service-box i,
.service-box h4 {
    transition: .5s;
}

.service-box i {
    font-size: 36px;
    margin-bottom: 20px;
    color: var(--laranja);
}

.service-box h4 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}

.service-box p {
    font-size: 14px;
    text-align: center;
    color: var(--texto1);
}


/* RESPONSIVIDADE */

@media (max-width:991px) {
    section {
        padding: 2rem;
    }
}

@media(max-width: 768px) {
    .container {
        padding: 20px 0;
    }
    .card-title {
        font-size: 14px;
    }
    .card-text {
        font-size: 12px;
    }
}

@media (max-width:400px) {
    html {
        font-size: 50%;
    }
}

@media screen and(max-width: 768px) {}